body {
  margin: 0;
  /* background */
  background-image: linear-gradient(135deg, #ebebeb 0%, white 100%);
  height: 100vh;
  background-attachment: fixed;
  /* background */
  font-family: "Titillium Web", sans-serif;
  font-size: 10pt;
}

.App {
  border: 2px solid black;
  margin: auto;
  margin-top: 40px;
  width: 60vw;
  transition: ease all 0.1s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
    margin-top: 20px;
    width: 90vw;
    transition: ease all 0.5s;
  }
}

.NavBar {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.NavItem {
  border: 2px solid black;
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavItem a {
  text-decoration: none;
  color: black;
}
.NavItem.active a {
  font-weight: 600;
  font-size: 1rem;
  transition: ease all 0.1s;
}

.NavItem:hover {
  background-color: lightgray;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .NavBar {
    flex-direction: column;
  }
  .NavItem {
    width: 100%;
  }
}

.Header {
  border: 2px solid black;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.Footer {
  border: 2px solid black;
  text-align: right;
  font-weight: 600;
}
